/* Applied to: all pages */
button:focus {
  outline: none;
}

/* Applied to: index.ejs */
#index-bg {
  padding: 200px 0px;
  background: url(/images/index-bg.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0px;
}

/* Applied to: our-team.ejs */
#team-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Applied to: all alerts in alerts.ejs  */
.alert {
  margin-bottom: 0px;
}

/* Applied to: dashboard.ejs */
#dashboard-body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#user-banner {
  background-color: black;
  color: white;
}

#calendar {
  margin-top: 20px;
}

#update-ic {
  color: green;
}

#delete-ic {
  color: red;
}
/* ~~~~~~~~~~~~~~~~~ */
.about_text {
  text-indent: 2.5em;
  text-align: justify;
  text-justify: inter-word;
}

.card {
  height: 250px;
}
